{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Empleado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href= "{% static 'lib/bootstrap-5.0.0-beta3-dist/css/bootstrap.min.css' %}">

</head>
<body>
    <div class="table-responsive">
        <div class="container">
            <h4>Lista de empleados</h4>
            <a href="{% url 'registrar' %}" class="btn btn-primary">Nuevo Empleado</a>
                <table class="table table-striped table-bordered table-hover">
    
                    <tr>
                        <!--<th>Codigo</th>-->
                        <th>Apellidos</th>
                        <th>Nombres</th>
                        <th>DNI</th>
                        <th>Direccion</th>
                        <th>Distrito</th>
                        <th>Provincia</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Categoria</th>
                        <th>Cargo</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                    {% for lista in lista %}
                    <tr>
                        <!--<td><a href="">{{lista.id}}</a> </td>-->
                        <td>{{lista.Apellidos}}</td>
                        <td>{{lista.Nombres}}</td>
                        <td>{{lista.DNI}}</td>
                        <td>{{lista.Direccion}}</td>
                        <td>{{lista.Distrito}}</td>
                        <td>{{lista.Provincia}}</td>
                        <td>{{lista.Telefono}}</td>
                        <td>{{lista.Correo}}</td>
                        <td>{{lista.categorias}}</td>
                        <td>{{lista.cargos}}</td>
                        <td>{{lista.Estado}}</td>
                        <td class="text-center">
                            <a id="btn_editar" href="#" class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                              </svg></a>
                            <a id="btn_eliminar" href="#" class="btn btn-success"></span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                              </svg></a>
                        </td>
    
                    </tr>
    
                    {% endfor %}
                </table>
        </div>

    </div>
    <script src="{% static 'lib/bootstrap-5.0.0-beta3-dist/js/jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'lib/bootstrap-5.0.0-beta3-dist/js/popper.min.js'%}"></script>
    <script src="{% static 'lib/bootstrap-5.0.0-beta3-dist/js/bootstrap.min.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
</body>

</html>